body{
    background:url('enp.jpg') top no-repeat;
}


input{

padding:4px ;


}

form , a {

position:relative ;
   width:200px; 
   display: inline-block;
   margin-top: -20px;
    margin-left: 75px;
   color: #FFFFFF;
   font-family: 'Playfair Display', serif;

}

h1{
   ont-weight: bold;
    font-size: 25px;
     padding-top: 2px;
     margin-right: 10px;
    color: #ff1919;
    
   font-family: 'Abril Fatface', cursive;
 
}

.Button{


    color: #3CB371;
    background-color: #FFFFFF;
    padding: 6px 20px;
    

}

.Button:hover {
    padding: 11px 20px;
color: #fff;
background-color: #ff1919;
box-shadow: 0 0 50px #fff;
}
Button:before
{
    content:'' ;
    position:absolute ;
    top:0 ;
    left: 0;
    width: 10px;
    height:10px ;
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
    transition: 0.4s;
}
Button:hover:before
{
    
    width: 60%;
    height:90% ;
    
}

